.rootCard {
  margin: 10px;

  .ant-card-head-title {
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .ant-card-body {
    text-align: center;

    .itemImg {
      height: 120px;
      width: 120px;
      border-radius: 50%;
    }
  }

}


