.rootCard {
  margin: 15px;
    .itemImg {
      height: 80px;
      width: 80px;
      border-radius: 50%;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
}

